<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="urlRtaCardsGenerateXml" value="http://stat.gibdd.ru/export/getCardsXML" />
		<add key="urlRtaCardsGenerateXls" value="http://stat.gibdd.ru/export/getCardsXLS" />
		<add key="urlRtaCardsExport" value="http://stat.gibdd.ru/getFileById" />
		<add key="rtaIdRow" value="5" />
		<add key="rtaIdColumn" value="2" />
	</appSettings>
</configuration>