<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="directoryExportedCardsXml" value="RtaExportedCardsXml" />
		<add key="directoryExportedCardsXls" value="RtaExportedCardsXls" />
		<add key="directoryDiagramsByCards" value="RtaDiagramByCards" />
		<add key="directoryDiagramsByGroups" value="RtaDiagramByGroups" />
		<add key="urlRtaCardsGenerateXml" value="http://stat.gibdd.ru/export/getCardsXML" />
		<add key="urlRtaCardsGenerateXls" value="http://stat.gibdd.ru/export/getCardsXLS" />
		<add key="urlRtaCardsExport" value="http://stat.gibdd.ru/getFileById" />
		<add key="rtaStartYear" value="2022" />
		<add key="rtaStartMonth" value="1" />
		<add key="rtaEndYear" value="2022" />
		<add key="rtaEndMonth" value="12" />
		<add key="rtaIdRow" value="5" />
		<add key="rtaIdColumn" value="2" />
	</appSettings>
</configuration>