<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="urlRtaCardsGenerate" value="http://stat.gibdd.ru/export/getCardsXLS" />
		<add key="urlRtaCardsExport" value="http://stat.gibdd.ru/getFileById" />
		<add key="rtaStartYear" value="2018" />
		<add key="rtaStartMonth" value="1" />
		<add key="rtaEndYear" value="2018" />
		<add key="rtaEndMonth" value="1" />
		<add key="rtaIdRow" value="5" />
		<add key="rtaIdColumn" value="2" />
	</appSettings>
</configuration>